:root {
    --cell-size: 100px;
    --cell-font-size: 4rem;
}

body {
    height: 100vh;
    display: flex;
}

#names {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#names.hidden {
    display: none;
}

#result.hidden {
    display: none;
}

#play.hidden {
    display: none;
}

#names > p {
    margin: 0;
}

#play {
    margin: auto;
}

#current_player {
    font-size: 1.5rem;
}

#board {
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.square {
    width: var(--cell-size);
    height: var(--cell-size);
    font-size: var(--cell-font-size);
    border: 3px solid black;
}

.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
    border-top: none;
}

.square:last-child,
.square:nth-child(7),
.square:nth-child(8) {
    border-bottom: none;
}

.square:nth-child(3),
.square:nth-child(6),
.square:nth-child(9) {
    border-right: none;
}

.square:first-child,
.square:nth-child(4),
.square:nth-child(7) {
    border-left: none;
}